**.xlsx
**.csv
dbt_project/load_env.py
.env
dbt_project/.user.yml
dbt_project/profiles.yml
dummyclient-rill/logs/*
/logs
logs/dbt.log
dbt_project/logs/*
env/

.venv/*
activate_env.sh
launch.json
settings.json

target/
dbt_packages/
logs/
dbt_env/
.venv*
.venv/
